/*=====================================
This file contain the core styelsheet
          1_Light Mode Css
          1_Dark Mode Css
======================================*/


/* Fonts */

@import url("https://fonts.google.com/specimen/Poppins");

/* General */

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}


/* colors */

:root {
    --light: #88817D;
    --dark: #222222;
    --muted: #E8E8E8;
}


/* UI Development Helper */

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}


/*----------------------------------------
    1) Light Mode Css
----------------------------------------*/


/* main section */

.lm-body #main-sec {
    background-color: var(--light);
}


/* Navbar */

.lm-body #navbar ul {
    margin-top: 15px;
}

.lm-body #navbar ul li {
    display: inline;
    padding: 15px 20px;
}

.lm-body #navbar ul a {
    text-decoration: none;
    position: relative;
}

.lm-body #navbar ul#nav a li {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: normal;
    color: white;
}

.lm-body #navbar ul#nav a li:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    right: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0);
    width: 60px;
    border-radius: 5px;
}

.lm-body #navbar ul#nav a:hover li:after {
    transition: 0.4s;
    content: "";
    background-color: white;
}

.lm-body #navbar ul#nav a li.about:after {
    background-color: white;
    left: 20px;
    right: 0;
    width: 60px;
}

.lm-body #navbar ul#nav a:hover li.about:after {
    background-color: white;
    left: 85px;
    right: 20px;
    width: 35px;
}

.lm-body #navbar ul#nav a:hover li.projects:after {
    background-color: white;
    left: 65px;
    right: 20px;
    width: 35px;
}

.lm-body #navbar ul#nav a:hover li.services:after {
    background-color: white;
    left: 67px;
    right: 20px;
    width: 35px;
}

.lm-body #navbar ul#nav a:hover li.articles:after {
    background-color: white;
    left: 85px;
    right: 20px;
    width: 75px;
}

.lm-body #navbar ul li a.search i {
    color: white;
    font-size: 20px;
}

.lm-body #navbar ul li a.c-btn {
    font-size: 17px;
    font-weight: normal;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 8px 45px;
}

.lm-body #navbar ul li a.c-btn:hover {
    transition: 0.7s;
    font-size: 17px;
    font-weight: normal;
    color: var(--light);
    font-size: 20px;
    border: 2px solid white;
    padding: 8px 45px;
    background-color: white;
}