/*=====================================
This file contain the core styelsheet
          1_Light Mode Css
          2_Dark Mode Css
======================================*/


/* Fonts */

@import url("https://fonts.google.com/specimen/Poppins");

/* General */

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}


/* colors */

:root {
    --light: #88817D;
    --dark: #222222;
    --muted: #E8E8E8;
}


/* UI Development Helper */

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}


/*----------------------------------------
    1) Light Mode Css
----------------------------------------*/


/* main section */

.lm-body #main-sec {
    background-color: var(--light);
    height: 100vh;
}


/* Navbar */

.lm-body #navbar ul {
    margin-top: 15px;
}

.lm-body #navbar ul li {
    display: inline;
    padding: 15px 20px;
}

.lm-body #navbar ul a {
    text-decoration: none;
    position: relative;
}

.lm-body #navbar ul#nav a li {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: normal;
    color: white;
}

.lm-body #navbar ul#nav a li:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    right: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0);
    width: 60px;
    border-radius: 5px;
}

.lm-body #navbar ul#nav a:hover li:after {
    transition: 0.4s;
    content: "";
    background-color: white;
}

.lm-body #navbar ul#nav a li.about:after {
    background-color: white;
    left: 20px;
    right: 0;
    width: 60px;
}

.lm-body #navbar ul#nav a:hover li.about:after {
    background-color: white;
    left: 85px;
    right: 20px;
    width: 35px;
}

.lm-body #navbar ul#nav a:hover li.projects:after {
    background-color: white;
    left: 65px;
    right: 20px;
    width: 35px;
}

.lm-body #navbar ul#nav a:hover li.services:after {
    background-color: white;
    left: 67px;
    right: 20px;
    width: 35px;
}

.lm-body #navbar ul#nav a:hover li.articles:after {
    background-color: white;
    left: 85px;
    right: 20px;
    width: 75px;
}

.lm-body #navbar ul li a.search i {
    color: white;
    font-size: 20px;
}

.lm-body #navbar ul li a.c-btn {
    font-size: 17px;
    font-weight: normal;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 8px 45px;
    box-shadow: inset 0 0 0 0 white;
}

.lm-body #navbar ul li a.c-btn:hover {
    transition: 0.7s;
    box-shadow: inset 175px 0 0 0 white;
    color: var(--light);
}
.lm-body #navbar ul li .mode-btn{
    border: 1px solid white;
    border-radius: 20px;
    padding: 2px 4px;
}
.lm-body #navbar ul li .mode-btn i{
    color: var(--light);
    background-color: white;
    padding: 3px;
    border-radius: 100%;
    margin: -2px;
}
.lm-body #navbar ul li .mode-btn .dark i{
    padding: 3px 4px;
}
.lm-body #navbar ul li .mode-btn .light i{
    opacity: 0;
}
.lm-body #content{
    margin-top: 50px;
}
.lm-body .headline{
    position: relative;
}
.lm-body #content .headline h1{
    margin-bottom: -25px;
    z-index: 99;
    color: white;
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: normal;
    text-shadow: 0px 0px 15px #2e2e2e61;
}
.lm-body #content img{
    z-index: -99;
}
.lm-body #content a.exp-btn{
    text-decoration: none;
    color: white;
}
.lm-body #content a.exp-btn{
    margin-top: 15px;
}
.lm-body #content a.exp-btn i,
.lm-body #content a.exp-btn p
{
    transform: rotate(90deg);
}
.lm-body #content a.exp-btn p{
    margin-top>: 55px;
}
/*----------------------------------------
    2) Dark Mode Css
----------------------------------------*/
.dm-body{
    background-color: var(--dark);
    transition: 0.7s;
}